.animTypewriter p {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  border-right: 0.07em solid black;
  font-size: 100px;
  font-family: monospace;
  white-space: nowrap;
  margin: 0 auto;
  animation: typewriter 3s steps(7, end) infinite,
    blinkTextCursor 0.5s steps(20) infinite;
  animation-delay: 2s;
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  50% {
    width: 398.44px;
  }
  70% {
    width: 398.44px;
  }
  100% {
    width: 0%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}
